---
const { color = 'theme-1' } = Astro.props
---

<button
  style={`background-color: var(--color-${color})`}
  class="flex gap-2 items-center justify-center border border-shadow-text-color shadow-custom text-principal-text-color px-4 py-2 rounded-md text-shadow-custom text-outline hover:scale-105 transition-transform duration-200 hover:cursor-pointer"
>
  <slot />
</button>
