---
import Button from 'src/components/ui/atoms/Button.astro'
---

<div id="next-question-button">
  <Button color="theme-1"> Next question </Button>
</div>

<script type="module" is:inline>
  import { printNewQuestion } from '/src/utils/questionDisplayUtils'

  const nextQuestionButton = document.getElementById('next-question-button')

  nextQuestionButton.addEventListener('click', () => {
    printNewQuestion()
  })
</script>
