---
interface Props {
  isCorrect: boolean
}

const { isCorrect } = Astro.props
---

<button
  class="response-option flex border-black shadow-custom text-gray-100 border-2 py-2 px-12 rounded-xl min-w-md items-center justify-center text-shadow-custom text-outline bg-default hover:scale-105 transition-transform duration-200 hover:cursor-pointer"
>
  <slot />
</button>
