---
const { color = 'theme-1' } = Astro.props

const className = `flex gap-2 items-center justify-center border border-shadow-text-color shadow-custom text-principal-text-color px-4 py-2 rounded-md text-shadow-custom text-outline`
---

<button style={`background-color: var(--color-${color})`} class={className}>
  <slot />
</button>
