@import 'tailwindcss';

:root {
  --color-correct: #0bcd72;
  --color-incorrect: #fa3e57;
  --color-theme-1: #ffa100;
  --color-theme-2: #ef60aa;
  --color-theme-3: #332c99;
  --color-principal-text-color: #fff;
  --color-shadow-text-color: #1a1d21;
}

@font-face {
  font-family: 'Akira Expanded';
  src: url('../assets/fonts/Akira Expanded Demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Variable font weight range */
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-akira: 'Akira Expanded', sans-serif;
  --font-outfit: 'Outfit', sans-serif;

  --color-correct: #0bcd72;
  --color-incorrect: #fa3e57;
  --color-default: #eff3f8;
  --color-theme-1: #ffa100;
  --color-theme-2: #ef60aa;
  --color-principal-text-color: #fff;
  --color-secondary-text-color: #332c99;
  --color-shadow-text-color: #1a1d21;
  --color-background-card: #fff;
  --color-footer: #0f2ea6;

  --shadow-custom: 0px 4px 0px var(--color-shadow-text-color),
    4px 4px 8px var(--color-shadow-text-color);

  --text-shadow-custom: 0.5px 2px 0 var(--color-shadow-text-color),
    -0.5px 2px 0 var(--color-shadow-text-color);
  --text-shadow-custom-xl: 1px 6px 0 var(--color-shadow-text-color),
    -1px 6px 0 var(--color-shadow-text-color);
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px var(--color-shadow-text-color);
  }

  .text-outline-xl {
    -webkit-text-stroke: 2px var(--color-shadow-text-color);
  }
}

body {
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
a,
button {
  font-family: 'Akira Expanded', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

.answer-option {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  border-radius: 0.75rem;
  border-width: 2px;
  color: var(--color-principal-text-color);
  border-color: var(--color-theme-1);
  background-color: var(--color-theme-1);
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition-property: transform;
  transition-duration: 200ms;
  cursor: pointer;
}

.answer-option:hover {
  transform: scale(1.1);
}
