---
import RestartButton from '../atoms/RestartButton.astro'
import NextQuestionButton from '../atoms/NextQuestionButton.astro'
import Placeholder from '../atoms/Placeholder.astro'
import { Icon } from 'astro-icon/components'
import { getrandomCompliment } from 'src/utils/appUtils.ts'

const randomCompliment = getrandomCompliment()
---

<section
  id="answered-question-dialog"
  class="absolute top-0 left-0 w-full h-full z-10 backdrop-blur-sm bg-black/50 hidden"
>
  <div class="flex items-center justify-center h-full w-full">
    <article
      id="card-dialog"
      class="text-gray-900 p-24 border-2 border-gray-900 rounded-2xl gap-4 items-center justify-center grid grid-cols-3"
    >
      <Icon
        class="col-span-1 w-full h-full hidden"
        name="headstone"
        id="headstone-icon"
      />
      <Icon
        class="col-span-1 w-full h-full hidden"
        name="confetti"
        id="confetti-icon"
      />
      <Icon
        class="col-span-1 w-full h-full hidden"
        name="cross"
        id="cross-icon"
      />
      <div class="col-span-2 flex flex-col gap-4 items-center justify-center">
        <span class="card-title" class="text-5xl flex items-center gap-2"
          >Inject the text depending on the correctness of the answer</span
        >
        <span id="endgame-info" class="hidden items-center gap-2 text-xl"
          >You have run out of lives <Icon
            class="w-12 h-12"
            name="broken_heart"
          /></span
        >
        <span id="correct-answer-info" class="hidden items-center gap-2 text-xl"
          >You responded correctly
          <Placeholder>
            + 100
            <Icon name="coin" />
          </Placeholder>
        </span>
        <span
          id="incorrect-answer-info"
          class="hidden items-center gap-2 text-xl"
        >
          <p>Here will go the Ai response</p>
          <Placeholder>
            - 1
            <Icon name="broken_heart" />
          </Placeholder>
        </span>
        <div class="flex justify-between gap-4">
          <RestartButton />
          <NextQuestionButton />
        </div>
      </div>
    </article>
  </div>
</section>
