<article
  id="error-displaying-question"
  class="hidden flex-col gap-8 bg-incorrect text-white p-8 border-2 border-gray-900 rounded-2xl shadow-2xl w-full max-w-3xl m-auto"
>
  <h2 class="text-xl">⚠️ Oops! Something went wrong...</h2>
  <span>
    The question did not work properly, please try again or contact the
    developer if the problem persists.
  </span>
</article>
