---
import Option from '../atoms/Option.astro'
---

<article
  class="flex flex-col gap-8 bg-background-card p-8 border-2 border-gray-900 rounded-2xl shadow-2xl w-full max-w-3xl m-auto"
>
  <span
    >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, optio
    dolorem aliquid facilis odit velit modi debitis, repellendus sed
    voluptatibus tenetur error! Qui quidem ratione officia ad at libero. Iure?</span
  >
  <div
    class="flex flex-col gap-4 w-fit justify-center items-center m-auto min-w-xl"
  >
    <Option status="default">Hola</Option>
    <Option status="selected">Isaac Newtoon</Option>
    <Option status="correct">Albert Einstein</Option>
    <Option status="incorrect">Hola</Option>
  </div>
</article>
