---
import Button from 'src/components/ui/atoms/Button.astro'
import { Icon } from 'astro-icon/components'
import { socialLinks } from 'src/stored/static-content.ts'
import Placeholder from './atoms/Placeholder.astro'
---

<footer class="flex flex-wrap items-center justify-between gap-4">
  <section
    class="text-white text-center w-fit mb-8 mx-auto flex justify-center gap-4 text-3xl"
  >
    {
      socialLinks.map((link) => (
        <a
          class="scale-110 hover:scale-125 hover:cursor-pointer transition-all duration-300"
          href={link.url}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Button color="theme-2">
            <Icon name={link.name} />
          </Button>
        </a>
      ))
    }
  </section>
  <section
    class="text-center w-fit mb-8 mx-auto flex justify-center gap-4 text-3xl"
  >
    <Placeholder>
      <img class="w-12" id="weather-icon" />
      <span class="text-xl" id="weather-info">Placeholder</span>
    </Placeholder>
  </section>

  <script type="module" is:inline>
    import { printWeatherInfo } from '/src/utils/weatherDisplayUtils.ts'
    printWeatherInfo()
  </script>
</footer>
