---
import { Icon } from 'astro-icon/components'
import { appStatus } from '../../content/global-variables'
import Placeholder from './atoms/Placeholder.astro'
---

<header class="flex items-center justify-between p-4">
  <h1
    class="text-theme-1 text-4xl sm:text-6xl text-shadow-custom-xl text-outline-xl"
  >
    TRIVIA
  </h1>
  <div class="flex items-center justify-center gap-4 p-4">
    <Placeholder>
      <Icon name="coin" />
      {appStatus.coins}
    </Placeholder>
    <Placeholder>
      <Icon name="heart" />
      {appStatus.lives}
    </Placeholder>
  </div>
</header>
