---
import { Icon } from 'astro-icon/components'
import Placeholder from './atoms/Placeholder.astro'
import Button from './atoms/Button.astro'
---

<header class="flex items-center justify-between p-4">
  <h1
    class="text-theme-1 text-4xl sm:text-6xl text-shadow-custom-xl text-outline-xl"
  >
    TRIVIA
  </h1>
  <div id="restart-button">
    <Button color="theme-1">
      <Icon name="replay" />
      Restart game
    </Button>
  </div>
  <div class="flex items-center justify-center gap-4 p-4">
    <Placeholder>
      <Icon name="coin" />
      <span id="coins">0</span>
    </Placeholder>
    <Placeholder>
      <Icon name="heart" />
      <span id="lives">0</span>
    </Placeholder>
  </div>
</header>

<script type="module" is:inline>
  import { getLocalStorageData } from '/src/services/localStorage.ts'
  import { restartGame } from '/src/utils/appUtils.ts'

  const { coins, lives } = getLocalStorageData()

  const coinsElement = document.getElementById('coins')
  const livesElement = document.getElementById('lives')
  const restartButton = document.getElementById('restart-button')

  coinsElement.textContent = coins
  livesElement.textContent = lives

  restartButton.addEventListener('click', () => {
    restartGame()
  })
</script>
