---
import { Icon } from 'astro-icon/components'
import Placeholder from './atoms/Placeholder.astro'
import RestartButton from './atoms/RestartButton.astro'
import SaveGameButton from './atoms/SaveGameButton.astro'
import LoadGameButton from './atoms/LoadGameButton.astro'
---

<header class="flex flex-col lg:flex-row items-center justify-between p-4">
  <h1
    class="text-theme-1 text-4xl sm:text-6xl text-shadow-custom-xl text-outline-xl"
  >
    TRIVIA
  </h1>
  <div class="flex items-center flex-wrap justify-center gap-4 p-4">
    <RestartButton />
    <LoadGameButton />
    <SaveGameButton />
  </div>

  <div class="flex items-center justify-center gap-4 p-4">
    <Placeholder>
      <Icon name="coin" />
      <span id="coins">0</span>
    </Placeholder>
    <Placeholder>
      <Icon name="heart" />
      <span id="lives">0</span>
    </Placeholder>
  </div>
</header>

<script type="module" is:inline>
  import { getGameStorageData } from '/src/utils/gameDataManagementUtils.ts'

  const { coins, lives } = getGameStorageData()

  const coinsElement = document.getElementById('coins')
  const livesElement = document.getElementById('lives')

  coinsElement.textContent = coins.toString()
  livesElement.textContent = lives.toString()

  window.addEventListener('gameData:update', (event) => {
    const { coins, lives } = event.detail
    coinsElement.textContent = coins.toString()
    livesElement.textContent = lives.toString()
  })
</script>
